/* css/styles.css */

/* Import Custom Fonts */
@font-face {
    font-family: 'Schoolbell';
    src: url('../assets/fonts/Schoolbell/Schoolbell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset and CSS Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000; /* Noir pour une base neutre */
    --secondary-color: #ffffff; /* Blanc pour contraste */
    --background: #ffffff; /* Fond blanc */
    --card-background: rgba(0, 0, 0, 0.05); /* Légère ombre pour les cartes */
    --text-color: #000000; /* Noir pour le texte principal */
    --button-bg: #000000; /* Noir pour les boutons principaux */
    --button-text: #ffffff; /* Blanc pour le texte des boutons */
    --button-hover-bg: #333333; /* Noir foncé au survol */
    --button-border-radius: 20px; /* Plus arrondi */
    --button-padding: 10px 20px;
    --button-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    --font-primary: 'Schoolbell', cursive;
    --font-secondary: 'Comic Neue', cursive;
    --font-size-base: 1em;
    --font-size-h1: 2.5em; /* Ajusté pour une meilleure lisibilité */
    --font-size-h2: 1.5em;
    --font-size-h3: 1.3em;
    --font-size-description: 1em;
    --font-size-button: 1em;
    --padding-section: 40px 20px;
    --gap-socials: 20px;
    --social-icon-size: 40px; /* Ajusté pour une meilleure intégration */
    --social-card-size: 80px;
    --animation-fade-in-duration: 2s;
    --transition-speed: 0.3s;
}

/* Base Body Styles */
body {
    background: var(--background);
    color: var(--text-color);
    font-family: var(--font-primary), sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

/* Header Styles */
header {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-family: var(--font-primary), cursive;
    font-size: var(--font-size-h1);
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 0.5em;
}

header h2 {
    font-family: var(--font-secondary), cursive;
    font-size: var(--font-size-h2);
    color: var(--text-color); /* Modifié de var(--secondary-color) à var(--text-color) */
    margin-top: 10px;
}

header p {
    font-size: var(--font-size-description);
    color: var(--text-color); /* Modifié de var(--secondary-color) à var(--text-color) */
    margin-top: 10px;
}

/* Bouton Spécial V2 */
.version-button {
    background-color: #e31828;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform var(--transition-speed), background-color var(--transition-speed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.version-button:hover,
.version-button:focus {
    transform: scale(1.1);
    background-color: #a1161d;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Positionner l'image de décor à gauche de l'écran */
.draw {
    position: absolute;
    left: -2em;
    top: 70em;
    width: auto;
    height: 25vh;
    object-fit: cover;
    z-index: -1;
}

.canvas-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background);
    border: 2px solid #ccc;
    border-radius: 20px; /* Plus arrondi pour une apparence enfantine */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px; /* Limite la largeur maximale */
    margin: 0 auto;
    overflow: hidden; /* Empêche le débordement */
}

/* Character Container Styles */
.character-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Assure qu'il ne dépasse pas le parent */
    aspect-ratio: 4 / 5; /* Maintient les proportions */
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('assets/avatar/body/body1.png'); /* Image de base du corps */
    background-size: cover;
    background-position: center;
}

/* Selection Buttons */
.selection-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px; /* Plus arrondi */
    box-shadow: var(--button-shadow);
    transition: all var(--transition-speed);
    width: 100%;
    max-width: 300px;
    justify-content: center;
    margin-top: 10px;
}

/* Part Buttons */
.part-button {
    width: 60px; /* Augmenté pour une meilleure visibilité */
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: transform var(--transition-speed), background-color var(--transition-speed);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--button-shadow);
    position: relative;
}

.part-button img {
    width: 36px; /* Augmenté pour correspondre à la taille du bouton */
    height: 36px;
    transition: transform var(--transition-speed);
}

.part-button.active {
    border: 2px solid var(--primary-color);
    transform: scale(1.1);
}

.part-button:hover,
.part-button:focus {
    background-color: #ffffff; /* Change de couleur au survol */
    transform: scale(1.1);
}

.part-button:hover img,
.part-button:focus img {
    transform: scale(1.2);
    filter: invert(1);
}

/* Options Panel */
.options-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 20px; /* Plus arrondi */
    padding: 15px;
    box-shadow: var(--button-shadow);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/* Color Selection */
.color-selection {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--button-shadow);
}

.color-selection h3 {
    text-align: center;
    font-family: var(--font-secondary), cursive;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.color-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.color-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.color-button:hover,
.color-button:focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Styles spécifiques pour le bouton de réinitialisation de couleur */
.color-button[data-color="reset"] {
    background-color: #ffffff;
    border: 2px solid #000000;
}

.color-button[data-color="reset"]:hover,
.color-button[data-color="reset"]:focus {
    background-color: #dddddd;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Options Display */
.options-display {
    display: none;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--button-shadow);
    max-height: 400px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.options-display.active {
    display: block;
}

/* Options Group */
.options-group {
    margin-bottom: 20px;
}

.options-group h3 {
    text-align: center;
    font-family: var(--font-secondary), cursive;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.options-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.option-button {
    width: 80px; /* Augmenté pour une meilleure visibilité */
    height: 80px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform var(--transition-speed), background-color var(--transition-speed);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--button-shadow);
}

.option-button img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform var(--transition-speed);
    margin-bottom: 5px;
}

.option-button:hover,
.option-button:focus {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.option-button:hover img,
.option-button:focus img {
    transform: scale(1.1);
    filter: invert(1);
}

/* Control Buttons */
.control-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.action-button, .save-button {
    padding: 15px 30px; /* Augmenté pour une meilleure visibilité */
    background-color: var(--button-bg); /* Changement pour var(--button-bg) qui est noir */
    color: var(--button-text); /* Blanc */
    border: none;
    border-radius: var(--button-border-radius);
    font-size: var(--font-size-button);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    box-shadow: var(--button-shadow);
    font-family: var(--font-secondary), cursive;
}

.action-button:hover,
.action-button:focus,
.save-button:hover,
.save-button:focus {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
}

.save-button {
    /* Remplacer le fond blanc par noir pour visibilité */
    background-color: var(--button-bg); /* Noir */
    color: var(--button-text); /* Blanc */
}

.save-button:hover,
.save-button:focus {
    background-color: var(--button-hover-bg); /* Noir foncé */
}

/* Social Links Section */
.social__container {
    text-align: center;
    padding: 20px;
}

.socials__title {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: var(--font-secondary), cursive;
    color: var(--primary-color);
}

.socials__description {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: var(--font-secondary), cursive;
    color: var(--primary-color);
}

.socials__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.socials__link img {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
    transition: transform var(--transition-speed);
}

.socials__link img:hover,
.socials__link img:focus {
    transform: scale(1.2);
}

.socials__action-link {
    display: none;
}

.social__container p {
    font-size: 1em;
    color: var(--primary-color);
    font-family: var(--font-secondary), cursive;
}

/* Draggable Element Styles */
.draggable {
    position: absolute;
    cursor: move;
    user-select: none;
    transform-origin: center center;
    transition: transform 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable.selected {
    outline: 2px dashed var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Assure que l'élément sélectionné est au-dessus */
}

/* Resize Handles - Cachés par défaut */
.draggable .resize-handle,
.draggable .rotate-handle,
.draggable .lock-button {
    display: none;
}

/* Afficher les poignées uniquement lorsque l'élément est sélectionné */
.draggable.selected .resize-handle,
.draggable.selected .rotate-handle,
.draggable.selected .lock-button {
    display: block;
}

/* Styles pour les poignées de redimensionnement */
.resize-handle {
    position: absolute;
    width: 24px; /* Augmenté pour une meilleure visibilité */
    height: 24px;
    background-color: var(--primary-color);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: nwse-resize;
    box-sizing: border-box;
    z-index: 1001; /* Assure qu'elles sont au-dessus de l'élément */
}

/* Positions spécifiques des poignées */
.resize-handle.br {
    right: -12px;
    bottom: -12px;
    cursor: nwse-resize;
}

.resize-handle.bl {
    left: -12px;
    bottom: -12px;
    cursor: nesw-resize;
}

.resize-handle.tr {
    right: -12px;
    top: -12px;
    cursor: nesw-resize;
}

.resize-handle.tl {
    left: -12px;
    top: -12px;
    cursor: nwse-resize;
}

/* Styles pour la poignée de rotation */
.rotate-handle {
    position: absolute;
    top: -30px; /* Ajusté pour éviter le chevauchement */
    left: 50%;
    transform: translateX(-50%);
    width: 24px; /* Augmenté pour une meilleure visibilité */
    height: 24px;
    background-color: var(--secondary-color);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: grab;
    box-sizing: border-box;
    z-index: 1001; /* Assure qu'elles sont au-dessus de l'élément */
}

/* Styles pour le bouton de verrouillage */
.lock-button {
    position: absolute;
    top: -30px; /* Positionné à côté de la poignée de rotation */
    right: -30px;
    width: 24px;
    height: 24px;
    background-color: var(--secondary-color);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
}

.lock-button.locked {
    background-color: #555555;
}

/* Locked State Styles */
.draggable.locked {
    opacity: 0.6;
    /* pointer-events: none; */ /* Supprimé pour permettre l'interaction avec le bouton de verrouillage */
}

.draggable.locked .lock-button {
    background-color: #555555;
}

/* Responsive Design for Small Screens */
@media (max-width: 500px) {
    header h1 {
        font-size: 2em;
    }
    .draw {
        display: none;
    }
}

@media (max-width: 768px) {
    .canvas-section {
        width: 90%;
    }
    .character-container {
        width: 100%;
        max-width: 600px; /* Réduit la taille maximale pour les petits écrans */
        aspect-ratio: 4 / 5; /* Maintient les proportions */
    }
    .selection-buttons {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        max-width: none;
    }
    .part-button {
        width: 50px;
        height: 50px;
    }
    .part-button img {
        width: 30px;
        height: 30px;
    }
    .option-button {
        width: 70px;
        height: 70px;
    }
    .option-button img {
        width: 100%;
        height: 100%;
    }
    .color-button {
        width: 35px;
        height: 35px;
    }
    .control-buttons {
        flex-direction: column;
        gap: 15px;
    }
    .socials__links {
        flex-wrap: wrap;
    }
}

/* Responsive Design for Larger Screens */
@media (min-width: 800px) {
    .draw {
        position: absolute;
        top: 25em;
    }
}

@media (min-width: 1000px) {
    .canvas-section {
        width: 800px;
    }
    .draw {
        position: absolute;
        left: -1em;
        top: 35em;
        width: auto;
        height: 25vh;
        object-fit: cover;
        z-index: -1;
    }
}

@media (min-width: 1300px) {
    .draw {
        position: absolute;
        height: 40vh;
        left: -2em;
    }
}

/* Responsive Design for Very Large Screens */
@media (min-width: 1601px) {
    .canvas-section {
        width: 800px;
    }
    .character-container {
        width: 100%;
        max-width: 800px; /* Maintenu la taille maximale */
        aspect-ratio: 4 / 5; /* Maintient les proportions */
    }
    .part-button {
        width: 60px;
        height: 60px;
    }
    .part-button img {
        width: 36px;
        height: 36px;
    }
    .option-button {
        width: 80px;
        height: 80px;
    }
    .save-button {
        padding: 15px 30px;
    }
    .socials__link img {
        width: 80px;
        height: 80px;
    }
}

/* Additional Playful Styles */
body {
    background-color: #f0f0f0; /* Fond gris clair pour contraste */
}

header h1, header h2, header p, .socials__title, .socials__description, .control-buttons button {
    text-align: center;
}

.character-container {
    background-color: #ffffff; /* Fond blanc pour les éléments colorés */
}

.options-panel {
    background-color: #ffffff;
}

.options-group h3 {
    font-size: 1.3em;
}

.control-buttons button {
    border-radius: 20px;
    font-size: 1em;
    padding: 10px 20px;
}

.control-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}